.button {
    margin-left:auto;
}
.buttons {
    align-items: right;
}
.details {
    max-width: 650px;
    padding: 0 5px 0 15px;
    float: left;
    display: inline-block;
}
.tv-result {
    display: flex;
}
.control {
    display: flex;
}
.hero-body {
    background: url(../img/tvshows.png);
    background-position: center; 
    color:#fff;
    height: 400px;
    opacity: 0.4;
}
.title, .title a {
    color:#fff;
}
.title a:hover {
    color:#b4b4b4;
}
.poster {
    background: #fff;
    float: left;
    padding: 10px 10px 4px 10px;
    height: 100%;
    display: inline-block;
    box-shadow: 3px 0px 10px #c9c9c9;
}
@media screen and (min-width: 1216px) {
    .poster {
       width: 175px;
    }
}
.show-add, .show-remove {
    font-size:2.8rem;
    position:absolute;
    top: -8px;
    right: 14px;
    z-index:99;
}
.show-add:hover, .show-remove:hover {
    cursor:pointer;
}
.side_show_list {
    background:#fff;
    padding:6px 0px 6px 11px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
.side_show_list_empty {
    font-style: italic;
    padding: 25px;
    text-align: center;
}
.notification {
    padding:1.5rem 1.5rem 1.5rem 1.5rem;
    background:#e8e8e840;
}
.footer {
    background:#e8e8e840;
    padding: 2rem 1.5rem 2rem;
}
#tracking_side {
    background-color:none;
    border-radius: 4px;
    padding: 0;
    position: relative;
}
.tracking_title {
    margin-bottom:12px;
}
.is-hovered.input {
    border-color:#dbdbdb;
    border-right:none;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
#searchSubmit {
    background:#e8e8e840;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.icon-github {
    height:14px;
    width:14px;
    margin-right:5px;
    background:no-repeat center url("../img/fontawesome-svg/github.svg");
}
.button .icon:first-child:last-child {
    margin:0;
}
.icon.icon-tv {
    height:16px;
    width:30px;
    padding-right:20px;
    background:no-repeat right url("../img/fontawesome-svg/tv.svg");
}
.icon-save {
    height:16px;
    width:16px;
    margin:2px 5px 0 0;
    background:no-repeat center url("../img/fontawesome-svg/star-empty.svg");
}
.icon-remove {
    height:16px;
    width:16px;
    margin:2px 5px 0 0;
    background:no-repeat center url("../img/fontawesome-svg/star.svg");
}
.tv-result .icon-save {
    height:26px;
    width:26px;
}
.tv-result .icon-remove {
    height:26px;
    width:26px;
}
.tv-result {
    position: relative;
    overflow: hidden;
}
.tv-result .column {
    position: relative;
    z-index: 2;
    text-shadow: 1px 2px 0px #fff;
} 
.tv-result img.tv-background {
    position: absolute;
    left: 0;
    top: -55px;
    width: 100%;
    height: auto;
    opacity: 0.1;
    min-height:305px;
    z-index:-10;
}
.tv-result img.background-push {
    top:-200px;
}
@media screen and (max-width: 1215px) {
    .tv-result img.tv-background {
        top: 0px;
    }
}
#side_track_undefined {
    display:none; /* CSS hack */
}
.remove_track {
    background: rgba(172, 36, 36, 0.95);
    color: #fff;
}
.new_track {
    background: rgba(81, 171, 84, 0.95);
    color: #fff;
}
.show_title a {
    text-decoration:none;
}
.notification a:not(.button):not(.dropdown-item){
    text-decoration:none;
}
.notification a:not(.button):not(.dropdown-item):hover{
    text-decoration:underline;
}
#youtube_embed {
    margin-bottom:20px;
}
#youtube_description {
    overflow:auto;
    font-size: 0.9rem;
}
#youtube_wrapper {
    display:none;
}
.air_status {
    font-style: italic;
    margin-top: 7px;
    border-top: 1px dotted #cac7c7;
    padding-top: 5px;
}
.color_red {
    color:#861717;
}
.color_green {
    color:#0c8d46;
}
.low_score {
    color: #861717;
    font-weight: bold;
}
.medium_score {
    color: #e0b047;
    font-weight: bold;
}
.high_score {
    color:#0c8d46;
    font-weight: bold;
}
.imdb_score {
    z-index:2;
}