.button {
    margin-left:auto;
}
.poster {
    max-width: 180px;
}
.buttons {
    align-items: right;
}
.details {
    max-width: 650px;
}
.tv-result {
    display: flex;
}
.control {
    display: flex;
}
.hero-body {
    background:#242424;
    color:#fff;
}
.title, .title a {
    color:#fff;
}
.title a:hover {
    color:#b4b4b4;
}
.poster {
    background:#fff;
    box-shadow: 3px 0px 10px #c9c9c9;
}
.show-add {
    font-size:2.8rem;
    position:absolute;
    top: -8px;
    right: 14px;
}
.show-add:hover {
    cursor:pointer;
}
.side_show_list {
    background:#fff;
    padding:6px 0px 6px 11px;
    box-shadow:2px 2px 4px #bebebe;
}
.notification {
    padding:1.5rem 1.5rem 1.5rem 1.5rem;
    background:#e8e8e840;
}
.footer {
    background:#e8e8e840;
}
.tracking_title {
    margin-bottom:12px;
}
.is-hovered.input {
    border-color:#dbdbdb;
    border-right:none;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
#searchSubmit {
    background:#e8e8e840;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.icon-github {
    height:14px;
    width:14px;
    margin-right:5px;
    background:no-repeat center url("../img/fontawesome-svg/github.svg");
}
.button .icon:first-child:last-child {
    margin:0;
}
.icon.icon-tv {
    height:16px;
    width:30px;
    padding-right:20px;
    background:no-repeat right url("../img/fontawesome-svg/tv.svg");
}
.icon-save {
    height:16px;
    width:16px;
    margin:2px 5px 0 0;
    background:no-repeat center url("../img/fontawesome-svg/star-empty.svg");
}
.icon-remove {
    height:16px;
    width:16px;
    margin:2px 5px 0 0;
    background:no-repeat center url("../img/fontawesome-svg/star.svg");
}
.tv-result .icon-save {
    height:26px;
    width:26px;
}
.tv-result .icon-remove {
    height:26px;
    width:26px;
}
.new_track {
    background: rgba(81, 171, 84, 0.95);
    color: #fff;
}
.show_title a {
    text-decoration:none;
}
.notification a:not(.button):not(.dropdown-item){
    text-decoration:none;
}
.notification a:not(.button):not(.dropdown-item):hover{
    text-decoration:underline;
}
